.header {
    display: inline-block;
    background-color: #2E7D32;
    width: 100vh;
    color: white;
}

.drawer-links {
    margin: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}