* { padding: 0; margin: 0; }

body, html {
	height: 100%;
	font-size: 14pt;
}

h1 {
    margin-left:50px;
    display: inline;
}

.site-nav {
    display: inline;
}

    .site-nav ul {
        list-style-type: none;
        display: inline;
    }

    .site-nav ul li {
        display: inline;
        padding: 10px;
    }

        .site-nav ul li a {
            margin-left: 50px;
            font-size: 24px;
            text-decoration: none;
            color: #C0C0C0;
        }

        .site-nav ul li a:hover {
            color: rgba(104, 124, 255, 0.98);
        }

@media only screen and (max-width: 714px) {

    body, html {
	    height: 100%;
	    font-size: 12pt;
    }

    header > h1 {
        font-size: 20pt;
    }

    .site-nav {
        display: block;
    }

       .site-nav ul li a {
            font-size: 12pt;
       }
}


#content {
    margin-top: 50px;
    margin-left: 50px;
	color: white;
	padding: 10px;
}

.content {
    margin-left: 50px;
    margin-top: 50px;
}