<div class="header">
    <h1>
        <button mat-button #menu (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
        </button>
        <span (click)="onHeaderClick()">{{title}}</span>
    </h1>
</div>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" closed>
    <div class="drawer-links">
      <div *ngFor="let link of links; index as i">
        <a class="nav-link" href="{{link.url}}"><mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}</a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>