.header {
    display: inline-block;
    width: 100vw;
    height: 8vh;
}

.header h1 {
    display: inline-flex;
    vertical-align: middle;
}

.header h1 span {
    cursor: pointer;
    margin-left: 10px;
}

.drawer-container {
    height: 92vh;
}

.drawer-links div {
    margin: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    vertical-align: middle;
}

.nav-link mat-icon {
    margin-right: 10px;
}