.content {
    margin: 10px;
}

.card-container {
    margin-right: 10px;
}

.game-card {
    margin-top: 10px;
}

.mat-card-content {
    margin-left: 16px;
}

.list-item-div {
    display: flex;
    flex-flow: row;
}

.list-item-div-icon {
    -webkit-flex: none;
    flex: none;
    width: 100px;
    height: 100px;
}

.list-item-div-details {
    margin-left: 16px;
    -webkit-flex: 9;
    flex: 9;
}

.list-item-actions {
    margin-left: 16px;
}