.list-item-div-icon {
    margin-top: 10px;
    width: 200px;
}

.cards-section {
    margin-top: 10px;
}

.mat-card {
    min-height: 200px;
}

.mat-card-content {
    margin-left: 16px;
}

.list-item-actions {
    margin-left: 16px;
}