<h1>{{title}}</h1>
<div class="about">
    <p>Welcome to Shame Pile Software!</p>
    <br />
    <p>We publish our own, home-grown, indie video games and apps. All of the games are built using HTML5, CSS, and JavaScript. </p>
    <br />
    <section>
        <h3 class="expando"><span class="icon">+</span> About the games</h3>
        <div class="hidden">
            <ul>
                <li>To play one of our games, select one of titles displayed on the <b>Home</b> page. </li>
                <li>Our games are compatible with most browsers.</li>
                <li>All of our games are free to play. </li>
                <li><b>Play at your own risk.</b> There is no expressed or implied level of polish or functionality to our games.</li>
                <li><b>Bug fixes.</b> If you encounter any bugs in the games, you can log a bug in our <a href="https://github.com/telpirion/shamepilesoftware/issues">GitHub repository</a>.</li>
            </ul>
        </div>
    </section>
    <br/>
    <section>
        <h3 class="expando"><span class="icon">+</span> About us</h3>
        <div class="hidden">
            <div><i>Eric Schmidt</i>, programming, testing, and deployment</div>
        </div>
    </section>
    <section>
    </section>
</div>