{{ define "feed.html"}}
<section>
  <header class="major">
    <h2>Feed</h2>
  </header>
  <div class="mini-posts">
    <article>
      <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
      <p>Blog post!</p>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
      <p>App!</p>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
      <p>Game!</p>
    </article>
  </div>
  <ul class="actions">
    <li><a href="#" class="button">More</a></li>
  </ul>
</section>
{{end}}