{{ define "header-links.html"}}
<ul class="icons">
    <li><a href="https://www.linkedin.com/in/eric-schmidt-692640/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="https://github.com/telpirion" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="https://stackoverflow.com/users/2494271/eric-schmidt" target="_blank" class="icon brands fa-stack-exchange"><span class="label">Stack Overflow</span></a></li>
    <li><a href="https://www.youtube.com/@telpir" target="_blank" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
</ul>
<!--
    "links": [
      {
        "url": "https://www.linkedin.com/in/eric-schmidt-692640/",
        "label": "LinkedIn",
        "icon": "fa-linkedin"
      },
      {
        "url": "https://github.com/telpirion",
        "label": "GitHub",
        "icon": "fa-github"
      },
      {
        "url": "https://stackoverflow.com/users/2494271/eric-schmidt",
        "label": "Stack Exchange",
        "icon": "fa-stack-exchange"
      },
      {
        "url": "https://www.youtube.com/@telpir",
        "label": "YouTube",
        "icon": "fa-youtube"
      }
    ]
-->
{{end}}