<div class="home">
    <link rel="stylesheet" type="text/css" href="styles/home.css"/>
    <div class="carousel">
        <svg width="34" height="24" class="left scroll-button">
            <path d="M 34 0 L 26 0 L 22 12 L 26 24 L 34 24 L 30 12 z"/>
        </svg>
        <svg width="34" height="24" class="right scroll-button">
            <path d="M 0 0 L 8 0 L 12 12 L 8 24 L 0 24 L 4 12 z"/>
        </svg>
        <svg height="40" class="position-indicator">
        </svg>
        <div class="carousel-content">
            <div class="slide carousel-1"
                style="background-color:#bbccbb">
                <div class="slide-content">
                    <h2>Welcome!</h2>
                    <p>
                        Welcome to the professional and
                        personal website for me, Eric
                        M. Schmidt. Hi!
                    </p>
                    <p>
                        Check out the JavaScript and
                        HTML5 video games published on
                        the site. I programmed all of
                        the<br/> video games myself
                        (excluding external libraries).
                        Some art in the games was
                        donated by friends.
                    </p>
                    <p>
                        I built this website using
                        <a href="https://angularjs.org/">Angular JS</a>. Right now, I have the site hosted using
                        <a href="https://firebase.google.com/">Firebase hosting</a>.
                    </p>
                </div>
            </div>
            <div class="slide carousel-2">
                <div class="slide-content">
                    <h2>Download the Latin Reader for Android</h2>
                    <p>As a Latinist, I appreciate
                        being able to study Latin
                        anywhere, anytime. Thus,<br/>
                        I created the Latin Reader
                        app for Android.
                    </p>
                    <br/>
                    <a href="https://play.google.com/store/apps/details?id=com.ericmschmidt.latinreader">
                        <img class="badge" src="images/google-play-badge.png" />
                    </a>
                </div>
            </div>
            <div class="slide carousel-3">
                <div class="slide-content">
                    <h2>Play Vikings!!!</h2>
                    <p>It's a simple platformer, built entirely
                        using HTML, CSS, and JavaScript. The
                        game uses a physics engine <br/>of my own design
                        and code.
                    </p>
                    <p>
                        The backgrounds for the game were created by
                        the talented young artist, Bailey Cory.
                    </p>
                    <p>
                    <a href="#/Games/Vikings">Play now!</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>