<div class="home">
    <div class="carousel">
        <img class="left scroll-button"
            src="images/ic_chevron_left_black_24dp_2x.png"/>
        <img class="right scroll-button"
            src="images/ic_chevron_right_black_24dp_2x.png"/>
        <div class="carousel-content">
            <div class="slide carousel-1"
                style="background-color:#bbccbb">
                <div class="slide-content">
                    <h2>Welcome!</h2>
                    <p>
                        Welcome to the professional and
                        personal website for me, Eric
                        M. Schmidt. Hi!
                    </p>
                    <p>
                        Check out the JavaScript and
                        HTML5 video games published on
                        the site. I programmed all of
                        the video games myself
                        (excluding external libraries).
                        Some art in the games was
                        donated by friends.
                    </p>
                </div>
            </div>
            <div class="slide carousel-2">
                <div class="slide-content">
                    <h2>Download the Latin Reader for Android</h2>
                    <p>As a Latinist, I appreciate
                        being able to study Latin
                        anywhere, anytime. Thus,
                        I created the Latin Reader
                        app for Android.
                    </p>
                    <a href="https://play.google.com/store/apps/details?id=com.ericmschmidt.latinreader">
                        <img class="badge" src="images/google-play-badge.png" />
                    </a>
                </div>
            </div>
            <div class="slide carousel-3">
                <div class="slide-content">
                    <h2>Play Vikings!!!</h2>
                    <p>It's a simple platformer, built entirely
                        using HTML, CSS, and JavaScript. The
                        game uses a physics engine of my own design
                        and code.
                    </p>
                    <p>
                        The backgrounds for the game were created by
                        the talented young artist, Bailey Cory.
                    </p>
                    <p>
                    <a href="#/Games/Vikings">Play now!</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>