{{ define "nav.html" }}
<nav id="menu">
  <header class="major">
    <h2>{{ .Title }}</h2>
  </header>
  <ul>
    {{ range .Items}}
      {{ if .Items}}
      <li>
        <span class="opener">{{ .Title }}</span>
        <ul>
          <li><a href="{{ .Link }}">All {{ .Title }}</a></li>
          {{ range .Items }}
          <li><a href="{{ .Link }}">{{ .Title }}</a></li>
          {{ end}}
        </ul>
      </li>
      {{ else }}
        <li><a href="{{ .Link }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
{{end}}