{{ define "nav.html" }}
<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/publications">Patents & Publications</a></li>
    <li>
      <span class="opener">Games</span>
      <ul>
        <li><a href="/apps">All games</a></li>
        <li><a href="/games/vikings">Vikings!!!</a></li>
        <li><a href="/games/yahtzy">Yahtzy</a></li>
        <li><a href="/games/conway">Conway's Game of Life</a></li>
      </ul>
    </li>
    <li>
      <span class="opener">Apps</span>
      <ul>
        <li><a href="/apps">All apps</a></li>
        <li><a href="/apps/app-my-herodotus">My Herodotus</a></li>
        <li><a href="/apps/app-latin-reader-android">Latin Reader (Android)</a></li>
        <li><a href="/apps/app-latin-reader-windows">Latin Reader (Window)</a></li>
      </ul>
    </li>
    <li><a href="/about">About</a></li>
    <li><a href="/resume">Resume</a></li>
  </ul>
</nav>
{{end}}