@import "~@angular/material/prebuilt-themes/purple-green.css";

* { padding: 0; margin: 0; }

body, html {
    height: 100%;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-top: 10px;
}

.content {
    margin: 10px;
}

mat-icon.launch {
    font-size: 12px;
    width: 12px;
}