@import "~@angular/material/prebuilt-themes/purple-green.css";

* { padding: 0; margin: 0; }

body, html {
    height: 100%;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/wood-background.jpeg");
}

a {
    color: #fff;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-top: 10px;
}

.content {
    padding-left: 50px;
}

mat-icon.launch {
    font-size: 12px;
    width: 12px;
}

/* Material design overrides */
.mat-drawer-container, .mat-app-background {
    background-color: transparent !important;
}

@media only screen and (max-width: 360) {
    .mat-card {
        max-width: 300px;
        background-color: #28262685 !important;
    }
}

.mat-card {
    max-width: 500px;
    background-color: #28262685 !important;
}
