.hero {
    font-size: 64pt;
}

.home-content {
    margin-left: 10px;
    margin-top: 10px;
}

.home-content section {
    margin-top: 20px;
}

.home-content section p mat-icon {
    font-size: 12px;
    width: 12px;
}