.home .carousel {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #BBBBBB;
}

.scroll-button {
    position: relative;
    z-index: 100;
    top: 192px;
    display: inline-block;
}

.scroll-button path:hover {
    fill: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.carousel-content {
    position: absolute;
    clear: both;
    height: inherit;
    overflow: hidden;
    height: 400px;
    max-width: 1000px;
    background-color: #eeeeee;
}

.slide {
    display: inline-block;
    height: inherit;
    width: 100%;
    overflow: hidden;
    float: left;
}

.slide-content {
    overflow: hidden;
    padding-left: 48px;
    padding-top: 30px;
    display: inline-block;
    width: 90%;
}

.carousel-pre-fade {
    opacity: 0;
}

.carousel-in-r {
    opacity: 1.0;
    transition: opacity 0.5s;
}

.carousel-out-r {
    transform: translateX(-1000px);
    opacity: 0;
    transition: opacity 2s, transform 2s;
}

.carousel-in-l {
    opacity: 1.0;
    transition: opacity 0.5s;
}

.carousel-out-l {
    transform: translateX(1000px);
    opacity: 0;
    transition: opacity 2s, transform 2s;
}

.slide p {
    margin-bottom: 10px;
}

.badge {
    height: 100px;
}