* { padding: 0; margin: 0; }

body, html {
    height: 100%;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

.main-body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: inline-block;
    background-color: #2E7D32;
    width: 100%;
    color: white;
}

.header h1 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.nav {
    margin-left: 10px;
    margin-bottom: 10px;
}

.nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav ul li {
    display: inline;
    padding-right: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    color: black;
}

.news-item {
    margin-top: 30px;
}

.news-item span.date {
    font-size: 10pt;
    font-style: italic;
}

.expando .icon {
    cursor: pointer;
}

.hidden {
    /*display: none;*/
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s; /* Firefox 4 */
    -webkit-transition: max-height 0.5s; /* Safari and Chrome */
    -o-transition: max-height 0.5s; /* Opera */
}

.shown {
    /**display: block;**/
    max-height: 120px;
    overflow: hidden;
    transition: max-height 1s ease-in;
    -moz-transition: max-height 1s; /* Firefox 4 */
    -webkit-transition: max-height 1s; /* Safari and Chrome */
    -o-transition: max-height 1s; /* Opera */
}

@media only screen and (max-width: 714px) {

    body, html {
        height: 100%;
        font-size: 12pt;
    }

    .main-body {
        width: 500px;
    }
}

.page h1 {
    margin-top: 20px;
}

h2 {
    margin-bottom: 30px;
}

/* Directives */

.list-item-div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom-width: 2px;
    border-bottom-color: rgba(100, 100, 100, .5);
    border-bottom-style: solid;
    text-decoration: none;
    color: black;
}

.list-item-div:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.list-item-div div {
    padding-top: 30px;
}

.list-item-div div img {
    height: 100px;
}