<div class="content">
  <section>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
  </section>
  <section class="publications-section">
    <div class="card-container pub" *ngFor="let pub of published; index as i;">
      <mat-card>
        <mat-card-header fxLayout.gt-xs="row" fxLayout.xs="column">
          <mat-card-title>{{pub.title}}</mat-card-title>
          <mat-card-subtitle>{{pub.host}}, {{pub.date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="pub-blurb">
            {{pub.blurb}}
        </mat-card-content>
        <mat-card-actions class="list-item-actions">
          <button mat-button
                  (click)="view(pub)">VIEW PUBLICATION</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </section>
</div>
